<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/2Ij50KgAllptNznqedPKdC-rdQw.js"></script>
    <link rel="shortcut icon" href="https://wallhaven.cc/favicon.ico"/>
    <title>Awesome Wallpapers - wallhaven.cc</title>
    <meta name="title" content="Awesome Wallpapers">
    <meta name="description" content="Your source for the best high quality wallpapers on the Net!">
    <meta name="csrf-token" content="PqSQBDULJwybYsohY2Ud4hDF7l7GipWViNxeuPG3">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@wallhaven"/>
    <meta name="twitter:title" content="Awesome Wallpapers - wallhaven.cc"/>
    <meta name="twitter:description" content="Your source for the best high quality wallpapers on the Net!"/>
    <meta name="twitter:image" content="https://wallhaven.cc/images/layout/twitter-card.jpg"/>
    <meta name="max-pages" content="100">
    <link rel="search" type="application/opensearchdescription+xml" title="wallhaven.cc wallpaper search"
          href="https://wallhaven.cc/openSearch/wallpapers.xml">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700&display=swap">
    <link href="//wallhaven.cc/assets/wh-core-c0b7efbeb429b430eda8.min.css" rel="stylesheet" crossorigin="anonymous">
    <script type="text/javascript"> var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//matomo.whvn.cc/piwik/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', '1']);
        _paq.push(['setUserId', 'guest']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })(); </script>
</head>
<body class="startpage preload" data-version="1.0.3">
<main id="main"><a id="top"></a>
    <div class="top-nav"><a id="brand" href="https://wallhaven.cc"><h1 class="logo"><img
            src="https://wallhaven.cc/images/layout/logo.png" alt="wallhaven"></h1>
        <h2 class="slogan">The best wallpapers on the Net!</h2></a>
        <ul class="startpage-menu">
            <li><a class="latest" href="https://wallhaven.cc/latest" style="color: #ad3;"><i
                    class="far fa-clock"></i><span>Latest</span></a></li>
            <li><a class="toplist" href="https://wallhaven.cc/toplist" style="color: #b760f0"><i class="far fa-gem"></i><span>Toplist</span></a>
            </li>
            <li><a class="random" href="https://wallhaven.cc/random" style="color: #e73"><i
                    class="far fa-random"></i><span>Random</span></a></li>
            <li><a class="upload" href="https://wallhaven.cc/upload" style="color: #d55"><i
                    class="far fa-upload"></i><span>Upload</span></a></li>
            <li><a class="forums" href="https://wallhaven.cc/forums" style="color: #fb3"><i
                    class="far fa-comments "></i><span>Forums</span></a></li>
        </ul>
        <form action="https://wallhaven.cc/search" files="true" enctype="multipart/form-data" method="get"
              id="startpage-search" class="oneline-form startpage-search-type-text" style="margin: 1em auto 1em auto;">
            <div class="startpage-search-frame"><input type="search" name="q" id="search-text"
                                                       placeholder="Search..."><input type="file" name="search_image"
                                                                                      id="search-file"
                                                                                      disabled="disabled"><a
                    class="jsAnchor startpage-search-type-toggle"><i class="far fa-camera"
                                                                     title="Search for similar images"></i><i
                    class="far fa-font" title="Search tags or keywords"></i></a>
                <div class="startpage-search-spacer"></div>
                <button class="startpage-search-submit"><i class="far fa-search"></i></button>
            </div>
        </form>
    </div>
    <div id="featured">
        <div class="pop-tags"><span class="pop-tag-item pop-tag-size-med" style="filter: saturate(150%);"><a
                class="tagname sfw"
                href="https://wallhaven.cc/search?q=id:537&sorting=random&ref=fp">League of Legends</a></span><span
                class="pop-tag-item pop-tag-size-lg" style="filter: saturate(100%);"><a class="tagname sfw"
                                                                                        href="https://wallhaven.cc/search?q=id:2278&sorting=random&ref=fp">minimalism</a></span><span
                class="pop-tag-item pop-tag-size-sm" style="filter: saturate(100%);"><a class="tagname sfw"
                                                                                        href="https://wallhaven.cc/search?q=id:449&sorting=random&ref=fp">Asian</a></span><span
                class="pop-tag-item pop-tag-size-sm" style="filter: saturate(80%);"><a class="tagname sfw"
                                                                                       href="https://wallhaven.cc/search?q=id:1240&sorting=random&ref=fp">technology</a></span><span
                class="pop-tag-item pop-tag-size-med" style="filter: saturate(100%);"><a class="tagname sfw"
                                                                                         href="https://wallhaven.cc/search?q=id:479&sorting=random&ref=fp">digital art</a></span><span
                class="pop-tag-item pop-tag-size-med" style="filter: saturate(80%);"><a class="tagname sfw"
                                                                                        href="https://wallhaven.cc/search?q=id:5&sorting=random&ref=fp">anime girls</a></span><span
                class="pop-tag-item pop-tag-size-lg" style="filter: saturate(150%);"><a class="tagname sfw"
                                                                                        href="https://wallhaven.cc/search?q=id:37&sorting=random&ref=fp">nature</a></span><span
                class="pop-tag-item pop-tag-size-sm" style="filter: saturate(80%);"><a class="tagname sfw"
                                                                                       href="https://wallhaven.cc/search?q=id:7347&sorting=random&ref=fp">programming</a></span><span
                class="pop-tag-item pop-tag-size-lg" style="filter: saturate(80%);"><a class="tagname sfw"
                                                                                       href="https://wallhaven.cc/search?q=id:1&sorting=random&ref=fp">anime</a></span><span
                class="pop-tag-item pop-tag-size-sm" style="filter: saturate(100%);"><a class="tagname sfw"
                                                                                        href="https://wallhaven.cc/search?q=id:869&sorting=random&ref=fp">pattern</a></span><span
                class="pop-tag-item pop-tag-size-lg" style="filter: saturate(150%);"><a class="tagname sfw"
                                                                                        href="https://wallhaven.cc/search?q=id:14&sorting=random&ref=fp">science fiction</a></span><span
                class="pop-tag-item pop-tag-size-med" style="filter: saturate(150%);"><a class="tagname sfw"
                                                                                         href="https://wallhaven.cc/search?q=id:376&sorting=random&ref=fp">cyberpunk</a></span><span
                class="pop-tag-item pop-tag-size-sm" style="filter: saturate(150%);"><a class="tagname sfw"
                                                                                        href="https://wallhaven.cc/search?q=id:198&sorting=random&ref=fp">simple background</a></span><span
                class="pop-tag-item pop-tag-size-sm" style="filter: saturate(80%);"><a class="tagname sfw"
                                                                                       href="https://wallhaven.cc/search?q=id:853&sorting=random&ref=fp">fantasy art</a></span><span
                class="pop-tag-item pop-tag-size-sm" style="filter: saturate(80%);"><a class="tagname sfw"
                                                                                       href="https://wallhaven.cc/search?q=id:26146&sorting=random&ref=fp">Black Panther</a></span><span
                class="pop-tag-item pop-tag-size-sm" style="filter: saturate(150%);"><a class="tagname sfw"
                                                                                        href="https://wallhaven.cc/search?q=id:79143&sorting=random&ref=fp">ArtStation</a></span><span
                class="pop-tag-item pop-tag-size-med" style="filter: saturate(150%);"><a class="tagname sfw"
                                                                                         href="https://wallhaven.cc/search?q=id:323&sorting=random&ref=fp">artwork</a></span><span
                class="pop-tag-item pop-tag-size-sm" style="filter: saturate(80%);"><a class="tagname sfw"
                                                                                       href="https://wallhaven.cc/search?q=id:24972&sorting=random&ref=fp">WLOP</a></span><span
                class="pop-tag-item pop-tag-size-sm" style="filter: saturate(100%);"><a class="tagname sfw"
                                                                                        href="https://wallhaven.cc/search?q=id:1748&sorting=random&ref=fp">Studio Ghibli</a></span><span
                class="pop-tag-item pop-tag-size-sm" style="filter: saturate(100%);"><a class="tagname sfw"
                                                                                        href="https://wallhaven.cc/search?q=id:55&sorting=random&ref=fp">video games</a></span><span
                class="pop-tag-item pop-tag-size-med" style="filter: saturate(100%);"><a class="tagname sfw"
                                                                                         href="https://wallhaven.cc/search?q=id:711&sorting=random&ref=fp">landscape</a></span><span
                class="pop-tag-item pop-tag-size-lg" style="filter: saturate(100%);"><a class="tagname sfw"
                                                                                        href="https://wallhaven.cc/search?q=id:45821&sorting=random&ref=fp">fantasy girl</a></span><span
                style="font-size: 1.5em;"><a href="https://wallhaven.cc/tags/popular">More tags...</a></span></div>
        <div class="startpage-row"><p class="title">Announcements</p>
            <ul>
                <li class="forum-thread-read"><a class="forum-last-post-icon"
                                                 href="https://wallhaven.cc/forums/thread/2287"
                                                 title="Jump to Thread"><img
                        src="//wallhaven.cc/images/user/avatar/32/2_82aff6c49745.png" alt="AksumkA"
                        class="avatar-32"></a>
                    <div><h3 class="forum-thread-title read"><i class="far fa-thumbtack" title="Sticky Thread"></i><a
                            href="https://wallhaven.cc/forums/thread/2287">Update to collections and more!</a><a
                            class="forum-last-post-jump" title="Jump to last read post"
                            href="https://wallhaven.cc/forums/post/22517#post-22517"><i
                            class="far fa-fw fa-arrow-right"></i></a></h3><a class="username usergroup-7"
                                                                             href="https://wallhaven.cc/user/AksumkA">AksumkA</a>
                        –
                        <time title="2020-07-12 19:10:50" datetime="2020-07-12T19:10:50+00:00">1 month ago</time>
                    </div>
                </li>
            </ul>
        </div>
        <div class="feat-row"><span class="lg-thumb"><a href="https://wallhaven.cc/w/eyl1xr"><img
                src="https://th.wallhaven.cc/lg/ey/eyl1xr.jpg" width="432px" alt=""/></a></span><span
                class="lg-thumb"><a href="https://wallhaven.cc/w/96qy3w"><img
                src="https://th.wallhaven.cc/lg/96/96qy3w.jpg" width="432px" alt=""/></a></span><span
                class="lg-thumb"><a href="https://wallhaven.cc/w/ym1wp7"><img
                src="https://th.wallhaven.cc/lg/ym/ym1wp7.jpg" width="432px" alt=""/></a></span><span
                class="lg-thumb"><a href="https://wallhaven.cc/w/5we787"><img
                src="https://th.wallhaven.cc/lg/5w/5we787.jpg" width="432px" alt=""/></a></span></div>
        <div class="startpage-row"><p class="title" style="margin: 1em;">New here?</p>
            <p><a href="https://wallhaven.cc/join" class="link">Create a new account!</a> - or - <a
                    href="https://wallhaven.cc/login" class="link">Log in</a></p></div>
        <div class="more-feat">
            <div class="feat-row"><span class="sm-thumb"><a href="https://wallhaven.cc/w/xlq1rv"><img
                    src="https://th.wallhaven.cc/small/xl/xlq1rv.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/2em38y"><img
                    src="https://th.wallhaven.cc/small/2e/2em38y.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/dgrgql"><img
                    src="https://th.wallhaven.cc/small/dg/dgrgql.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/6k8kkx"><img
                    src="https://th.wallhaven.cc/small/6k/6k8kkx.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/3911w9"><img
                    src="https://th.wallhaven.cc/small/39/3911w9.jpg" width="300px" alt=""/></a></span></div>
            <div class="feat-row"><span class="sm-thumb"><a href="https://wallhaven.cc/w/dg7y23"><img
                    src="https://th.wallhaven.cc/small/dg/dg7y23.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/zmm7mw"><img
                    src="https://th.wallhaven.cc/small/zm/zmm7mw.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/mdzdok"><img
                    src="https://th.wallhaven.cc/small/md/mdzdok.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/x1wroo"><img
                    src="https://th.wallhaven.cc/small/x1/x1wroo.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/eymzjk"><img
                    src="https://th.wallhaven.cc/small/ey/eymzjk.jpg" width="300px" alt=""/></a></span></div>
            <div class="feat-row"><span class="sm-thumb"><a href="https://wallhaven.cc/w/13vym3"><img
                    src="https://th.wallhaven.cc/small/13/13vym3.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/g866qq"><img
                    src="https://th.wallhaven.cc/small/g8/g866qq.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/md5z28"><img
                    src="https://th.wallhaven.cc/small/md/md5z28.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/6k3oox"><img
                    src="https://th.wallhaven.cc/small/6k/6k3oox.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/lmxmxy"><img
                    src="https://th.wallhaven.cc/small/lm/lmxmxy.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/2evglg"><img
                    src="https://th.wallhaven.cc/small/2e/2evglg.jpg" width="300px" alt=""/></a></span></div>
            <div class="feat-row"><span class="sm-thumb"><a href="https://wallhaven.cc/w/ymoo2x"><img
                    src="https://th.wallhaven.cc/small/ym/ymoo2x.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/ymojgd"><img
                    src="https://th.wallhaven.cc/small/ym/ymojgd.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/ox83gp"><img
                    src="https://th.wallhaven.cc/small/ox/ox83gp.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/ymo837"><img
                    src="https://th.wallhaven.cc/small/ym/ymo837.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/dgzj9o"><img
                    src="https://th.wallhaven.cc/small/dg/dgzj9o.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/oxv6gl"><img
                    src="https://th.wallhaven.cc/small/ox/oxv6gl.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/96w8e8"><img
                    src="https://th.wallhaven.cc/small/96/96w8e8.jpg" width="300px" alt=""/></a></span><span
                    class="sm-thumb"><a href="https://wallhaven.cc/w/5w82r1"><img
                    src="https://th.wallhaven.cc/small/5w/5w82r1.jpg" width="300px" alt=""/></a></span></div>
        </div>
    </div>
    <div class="startpage-bottom">
        <div class="startpage-box">
            <section class="forum-threads-box forum-box"><h2>Latest discussions on our forums</h2>
                <ul>
                    <li class="forum-thread forum-thread-read"><a class="forum-last-post-icon"
                                                                  href="https://wallhaven.cc/forums/post/22566#post-22566"
                                                                  title="Jump to Last Post"><img
                            src="//wallhaven.cc/images/user/avatar/32/212122_33cb966dc836.jpg" alt="Feindflug"
                            class="avatar-32"></a>
                        <div><h3 class="forum-thread-title read"><a href="https://wallhaven.cc/forums/thread/2339">Purity
                            Question</a><a class="forum-last-post-jump" title="Jump to last read post"
                                           href="https://wallhaven.cc/forums/post/22566#post-22566"><i
                                class="far fa-fw fa-arrow-right"></i></a></h3><a class="username usergroup-2"
                                                                                 href="https://wallhaven.cc/user/Feindflug">Feindflug</a>
                            –
                            <time title="2020-08-29 03:49:54" datetime="2020-08-29T03:49:54+00:00">3 hours ago</time>
                        </div>
                    </li>
                    <li class="forum-thread forum-thread-read"><a class="forum-last-post-icon"
                                                                  href="https://wallhaven.cc/forums/post/22564#post-22564"
                                                                  title="Jump to Last Post"><img
                            src="//wallhaven.cc/images/user/avatar/32/593159_f44e7713cfa8.png" alt="nier1947"
                            class="avatar-32"></a>
                        <div><h3 class="forum-thread-title read"><a href="https://wallhaven.cc/forums/thread/212">My
                            name is not ZELDA .... it&#039;s LINK!!!!</a><a class="forum-last-post-jump"
                                                                            title="Jump to last read post"
                                                                            href="https://wallhaven.cc/forums/post/22564#post-22564"><i
                                class="far fa-fw fa-arrow-right"></i></a></h3><a class="username usergroup-2"
                                                                                 href="https://wallhaven.cc/user/nier1947">nier1947</a>
                            –
                            <time title="2020-08-28 00:25:52" datetime="2020-08-28T00:25:52+00:00">1 day ago</time>
                        </div>
                    </li>
                    <li class="forum-thread forum-thread-read"><a class="forum-last-post-icon"
                                                                  href="https://wallhaven.cc/forums/post/22563#post-22563"
                                                                  title="Jump to Last Post"><img
                            src="//wallhaven.cc/images/user/avatar/32/21490_9925d53346c0c3841534f33811c8c3026f88070c8cd91e4c70c9bd4823311ef3.jpg"
                            alt="lumberjacck" class="avatar-32"></a>
                        <div><h3 class="forum-thread-title read"><i class="far fa-thumbtack"
                                                                    title="Sticky Thread"></i><a
                                href="https://wallhaven.cc/forums/thread/12">Can You Name This Person/Thing?</a><a
                                class="forum-last-post-jump" title="Jump to last read post"
                                href="https://wallhaven.cc/forums/post/22563#post-22563"><i
                                class="far fa-fw fa-arrow-right"></i></a></h3><a class="username usergroup-2"
                                                                                 href="https://wallhaven.cc/user/lumberjacck">lumberjacck</a>
                            –
                            <time title="2020-08-27 17:36:06" datetime="2020-08-27T17:36:06+00:00">1 day ago</time>
                        </div>
                    </li>
                    <li class="forum-thread forum-thread-read"><a class="forum-last-post-icon"
                                                                  href="https://wallhaven.cc/forums/post/22558#post-22558"
                                                                  title="Jump to Last Post"><img
                            src="//wallhaven.cc/images/user/avatar/32/default-avatar.jpg" alt="opggodsend"
                            class="default-avatar avatar-32"></a>
                        <div><h3 class="forum-thread-title read"><a href="https://wallhaven.cc/forums/thread/2340">+Feature
                            Request - Slideshow</a><a class="forum-last-post-jump" title="Jump to last read post"
                                                      href="https://wallhaven.cc/forums/post/22558#post-22558"><i
                                class="far fa-fw fa-arrow-right"></i></a></h3><a class="username usergroup-2"
                                                                                 href="https://wallhaven.cc/user/opggodsend">opggodsend</a>
                            –
                            <time title="2020-08-27 00:41:52" datetime="2020-08-27T00:41:52+00:00">2 days ago</time>
                        </div>
                    </li>
                    <li class="forum-thread forum-thread-read"><a class="forum-last-post-icon"
                                                                  href="https://wallhaven.cc/forums/post/22552#post-22552"
                                                                  title="Jump to Last Post"><img
                            src="//wallhaven.cc/images/user/avatar/32/369151_c83aceb6104b5bfaa6929d3fb36e8d4ba02f0671a9f52f92dd9bb5423c30a3b0.jpg"
                            alt="UberLost" class="avatar-32"></a>
                        <div><h3 class="forum-thread-title read"><a href="https://wallhaven.cc/forums/thread/817">Best
                            of the Worst</a><a class="forum-last-post-jump" title="Jump to last read post"
                                               href="https://wallhaven.cc/forums/post/22552#post-22552"><i
                                class="far fa-fw fa-arrow-right"></i></a></h3><a class="username usergroup-2"
                                                                                 href="https://wallhaven.cc/user/UberLost">UberLost</a>
                            –
                            <time title="2020-08-25 15:00:49" datetime="2020-08-25T15:00:49+00:00">3 days ago</time>
                        </div>
                    </li>
                    <li class="forum-thread forum-thread-read"><a class="forum-last-post-icon"
                                                                  href="https://wallhaven.cc/forums/post/22546#post-22546"
                                                                  title="Jump to Last Post"><img
                            src="//wallhaven.cc/images/user/avatar/32/1327_249189e1286a34d130468d7b655f1b1248d19d6d09e6955bd37294b9eb751e9a.png"
                            alt="WallpaperManiac" class="avatar-32"></a>
                        <div><h3 class="forum-thread-title read"><a href="https://wallhaven.cc/forums/thread/815">Random
                            Wallpaper.</a><a class="forum-last-post-jump" title="Jump to last read post"
                                             href="https://wallhaven.cc/forums/post/22546#post-22546"><i
                                class="far fa-fw fa-arrow-right"></i></a></h3><a class="username usergroup-2"
                                                                                 href="https://wallhaven.cc/user/WallpaperManiac">WallpaperManiac</a>
                            –
                            <time title="2020-08-24 13:08:56" datetime="2020-08-24T13:08:56+00:00">4 days ago</time>
                        </div>
                    </li>
                    <li class="forum-thread forum-thread-read"><a class="forum-last-post-icon"
                                                                  href="https://wallhaven.cc/forums/post/22544#post-22544"
                                                                  title="Jump to Last Post"><img
                            src="//wallhaven.cc/images/user/avatar/32/default-avatar.jpg" alt="Qyba"
                            class="default-avatar avatar-32"></a>
                        <div><h3 class="forum-thread-title read"><a href="https://wallhaven.cc/forums/thread/2338">【Windows
                            10】Wallhaven UWP</a><a class="forum-last-post-jump" title="Jump to last read post"
                                                   href="https://wallhaven.cc/forums/post/22544#post-22544"><i
                                class="far fa-fw fa-arrow-right"></i></a></h3><a class="username usergroup-2"
                                                                                 href="https://wallhaven.cc/user/Qyba">Qyba</a>
                            –
                            <time title="2020-08-24 00:58:31" datetime="2020-08-24T00:58:31+00:00">5 days ago</time>
                        </div>
                    </li>
                </ul>
            </section>
            <p style="text-align: center;"><a href="https://wallhaven.cc/forums" class="green button">Check out our
                forums!</a></p></div>
        <div class="startpage-box"><h3>wallhaven stats</h3>
            <p> wallhaven.cc is home to <strong>746,305</strong> high quality wallpapers which have been viewed a total
                of <strong>1.59 billion</strong> times! </p>
            <p> We have <strong>394,217</strong> awesome users, of whom <strong>310</strong> are online right now! </p>
            <p> Not sure what to search for? We're sure at least one of our <strong>53,516</strong> user created <a
                    class="link" href="https://wallhaven.cc/tags">tags</a> will help you find something! </p></p></div>
    </div>
    <div><p class="copyright"><span><a href="https://wallhaven.cc/about#Copyright"> All images remain property of their original owners. </a></span><span
            style="margin-right:1em"> Site &amp; code &copy; <a
            href="https://wallhaven.cc"> wallhaven.cc </a>2020. </span><a href="https://wallhaven.cc/privacy-policy">Privacy
        Policy</a> · <a href="https://wallhaven.cc/terms">Terms of Service</a></p></div>
</main>
<div id="overlay" class="overlay-hidden">
    <section class="overlay-inner">
        <header class="overlay-header"><h2 class="overlay-title">Message</h2><a class="jsAnchor overlay-close"
                                                                                id="overlay-close" title="Close"><i
                class="fas fa-times"></i></a></header>
        <div class="overlay-content"></div>
    </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg=="
        crossorigin="anonymous"></script>
<script>!function (a) {
    typeof Promise == a && typeof Object.assign == a && typeof Array.from == a && typeof Array.prototype.includes == a && typeof Symbol == a && "symbol" == typeof Symbol.iterator && typeof Array.prototype[Symbol.iterator] == a || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.16.0/polyfill.min.js" integrity="sha256-1xJxekKA6MkBUKinJgsgPe3sTGMsKK6MzTzr+hKxMfI=" crossorigin="anonymous"></scr' + 'ipt>')
}("function");</script>
<script src="//wallhaven.cc/assets/wh-core-c0b7efbeb429b430eda8.min.js" crossorigin="anonymous"></script>
<script>!function (wh, $, undefined) {
    "use strict";
    wallhaven.load("home");
    ;
    var searchTypeText = 0;
    $(".startpage-search-type-toggle").click(function () {
        $("#startpage-search").toggleClass("startpage-search-type-text startpage-search-type-file").append('<input type="hidden" name="_token" value="PqSQBDULJwybYsohY2Ud4hDF7l7GipWViNxeuPG3" /> ').attr("method", searchTypeText = !searchTypeText ? "POST" : "GET");
        $("#search-file").prop('disabled', false);
    });
}(wallhaven, jQuery);</script>
</body>
</html>
